vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|26 Sep 2015 17:29:16 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|swati/index.php
vti_author:SR|MANALI\\Manali
vti_modifiedby:SR|MANALI\\Manali
vti_timecreated:TR|26 Sep 2015 17:29:16 -0000
vti_cacheddtm:TX|26 Sep 2015 17:29:16 -0000
vti_filesize:IR|12669
vti_cachedlinkinfo:VX|S|../font/mfglabsiconset-webfont.eot S|../font/mfglabsiconset-webfont.svg S|../font/mfglabsiconset-webfont.eot S|../font/mfglabsiconset-webfont.woff S|../font/mfglabsiconset-webfont.ttf
vti_cachedsvcrellinks:VX|NSUS|swati/font/mfglabsiconset-webfont.eot NSUS|swati/font/mfglabsiconset-webfont.svg NSUS|swati/font/mfglabsiconset-webfont.eot NSUS|swati/font/mfglabsiconset-webfont.woff NSUS|swati/font/mfglabsiconset-webfont.ttf
